.todo {
    display: flex;
    align-items: flex-start;
    width: 736px;
    height: 72px;
    padding: 16px;
    margin-bottom: 12px;
    background: #262626;
    border: 1px solid #333333;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;


    input {
        cursor: pointer;
        position: relative;
    }

    input[type='checkbox'] {
        appearance: none;
    }

    input::after {
        content: url('../../assets/elipse.svg');
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
    }

    input:checked {
        position: absolute;
        content: url('../../assets/checkbox.svg');
        width: 18px;
        height: 18px;
    }

    p {
        margin-left: 50px;
        width: 632px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #f2f2f2;
    }

    input:checked + p {
        text-decoration: line-through;
        color: #808080;
    }

    .btn__loading {
        width: 20px;
        height: 20px;
        border: 0;
        background: 0;

        .delete {
            display: block;
            width: 16px;
            height: 16px;
            background: url('../../assets/delete.svg') no-repeat;
            cursor: pointer;
        }

        .delete {
            position: relative;

            // .lds-ring {
            //     display: inline-block;
            //     width: 16px;
            //     height: 16px;
            // }
            
            // .lds-ring div {
            //     box-sizing: border-box;
            //     display: block;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 16px;
            //     height: 16px;
            //     margin: 8px;
            //     border: 1.5px solid #fff;
            //     border-radius: 50%;
            //     animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            //     border-color: #fff transparent transparent transparent;
            // }
            // .lds-ring div:nth-child(1) {
            //     animation-delay: -0.45s;
            // }
            // .lds-ring div:nth-child(2) {
            //     animation-delay: -0.3s;
            // }
            // .lds-ring div:nth-child(3) {
            //     animation-delay: -0.15s;
            // }
            // @keyframes lds-ring {
            //     0% {
            //         transform: rotate(0deg);
            //     }
            //     100% {
            //         transform: rotate(360deg);
            //     }
            // }
            
            
            
        }
    }
}
